@media all and (max-width:768px) {


    body {
    
        max-width: 768px;
        padding-top: 40px;
        padding-left: 0%;
        padding-right: 0%;
        margin: auto;
        font-family: "raleway", Arial, Helvetica, sans-serif;
        
    }

    header {
    
        
        margin-top: 20px;
        margin-right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        
    }
    
    header img {
        
        display: none;
        width: 62px;
        height: 19px;
        
        
    }

    header .logo-booki-mobile {
        display: block;
        margin-bottom: 60px;
        
         
    }
    /*section ancre */

    #navbar {
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
        
        
        
    }
    
    
    header ul {
        
        display: flex;
        flex-direction: row;
        
        margin: 0;
        
        
        
    }
    
    header li {
        
       font-size: 16px;
       width: 100%;
       
       
    }
    
    
    .padding-exclusif-mobile {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .ancre {
        display: none;
    }

    .ancre-mobile {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    nav a {
        
        
        text-decoration: none;
        text-align: center;
        color: rgb(0, 0, 0);
        padding-top: 42px; /*42px 20px 0px 20px */
        
        border-bottom: 6px solid #F2F2F2;
        padding-bottom: 30px;
        width: 100%;
        padding-bottom: 20px;
        
        
        
        
    }
    
    nav a:hover {
        border-top: none;
        border-bottom: 6px solid #0065FC;
    }
    
    .block-recherche_description-container {
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    
    #ligne-accroche {
        
        font-size: 22px;
        margin-bottom: 7px;
        
    }

    #block-recherche_description .p-unbolded {
        font-size: 1em;
        
        
    }
    
    
    
    /* section recherche */

    
    .recherche-vacances {
        
        display: flex;
        justify-content: center;
        
    }
    .input-recherche p {
        display: none;
    }

    .recherche-vacances .fa-search {
        display: block;
    }
    
    /* section filtres */

    
    #filtres-container {
        display: none;
    }
    

    
    .filtres-container {
        
        
        display: block;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
        
        
        
    }

    .filtres-container-mobile {
        display: block;
        margin: 0;
        
    }
    
    .filtres-elements-mobile button {
        


            font-weight: bold;
            font-size: 17px;
            margin-right: 2%;
            margin-left: 2%;
        
            background-color: white;
            border: 3px solid #d9d9d9;
            border-radius: 25px;
            transition: 0.2s;
            cursor: pointer;
        
        
        
    }

    .filtres-elements-mobile button div {
        display: flex;
        flex-direction: row;
    }
    .filtres-elements-mobile button:focus {
        background-color: #DEEBFF;
    
    }

    .filtres-elements-mobile .fas {
        color: #0065FC;
        padding: 10px 10px 10px 10px;
    }
    .filtres-buttons-mobile {
        width: 60%; 
        min-width: 400px;
    }
    
    #filtre-animaux {
        margin-left: 12px;
    }
    .hebergements-plus-les-plus-populaires {
        background-color: #ffffff;
        border-radius: 25px; 
        padding-top: 30px;
        
        
    }

    .offres-hebergement {
        width: 100%;
        
    }

    .hebergements-marseille img {
        
        height: 220px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .lespluspopulaires-container {

        display: flex;
        flex-direction: column;
        
    }

    .lespluspopulaires {
        background-color: #F2F2F2;
        border-radius: 0px;
    }

    .offres-lespluspopulaires-containers {
    
    
        position: relative;
        background-color: white;
        border-radius: 20px;
        height: 260px;
        margin-bottom: 35px;
        width: 100%;
        padding: 5px 0px 5px 0px;
        box-shadow: 0px 0px 20px rgb(186, 186, 186);
    }
    
    .offre-lespluspopulaires img {
    
    
        height: 250px;
        object-fit: cover;
        width: inherit;
        border-radius: 15px 0px 0px 15px;
        
    }

    .offres-lespluspopulaires-containers .description {
        padding: 10px 20px 5px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        height: 250px;
        
    }

    .description .lieu {
        
        padding-bottom: 10px;
    }

    

    .hebergements-description {
        padding-bottom: 30px;
        margin-top: 10px;
    }

    .activites-a-marseille-container {
        flex-direction: column;
    }

    .carte-activite {
        width: 93%;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }


.pied-de-page-container {
    flex-direction: column;
    padding: 80px 0px 40px 60px;
}

.pied-de-page-container div {
    margin-bottom: 60px;
}
.pied-de-page h2 {
    
    margin-bottom: 40px;
}

.pied-de-page li {
     
    padding-bottom: 15px;
}

}
